# Examples and Exercises from Think Stats, 2nd Edition

http://thinkstats2.com

Copyright 2016 Allen B. Downey

MIT License: https://opensource.org/licenses/MIT

In [1]:
from __future__ import print_function, division

import nsfg

## Examples from Chapter 1

Read NSFG data into a Pandas DataFrame.

In [2]:
preg = nsfg.ReadFemPreg()
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

Print the column names.

In [5]:
preg.columns

Index([         u'caseid',        u'pregordr',       u'howpreg_n',
             u'howpreg_p',        u'moscurrp',        u'nowprgdk',
              u'pregend1',        u'pregend2',        u'nbrnaliv',
              u'multbrth',
       ...
            u'laborfor_i',      u'religion_i',         u'metro_i',
               u'basewgt', u'adj_mod_basewgt',        u'finalwgt',
                u'secu_p',            u'sest',         u'cmintvw',
           u'totalwgt_lb'],
      dtype='object', length=244)

Select a single column name.

In [6]:
preg.columns[1]

u'pregordr'

Select a column and check what type it is.

In [3]:
pregordr = preg['pregordr']
type(pregordr)

pandas.core.series.Series

Print a column.

In [8]:
pregordr

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

Select a single element from a column.

In [9]:
pregordr[0]

1

Select a slice from a column.

In [10]:
pregordr[3:5]

3    2
4    3
Name: pregordr, dtype: int64

Select a column using dot notation.

In [11]:
pregordr = preg.pregordr

Count the number of times each value occurs.

In [12]:
preg.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

Check the values of another variable.

In [13]:
preg.birthwgt_lb.value_counts().sort_index()

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

Make a dictionary that maps from each respondent's `caseid` to a list of indices into the pregnancy `DataFrame`.  Use it to select the pregnancy outcomes for a single respondent.

In [4]:
caseid = 10229
preg_map = nsfg.MakePregMap(preg)
indices = preg_map[caseid]
preg.outcome[indices].values

array([4, 4, 4, 4, 4, 4, 1])

## Exercises

Select the `birthord` column, print the value counts, and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611933)

In [16]:
birthord = preg['birthord']
preg.birthord.value_counts(sort=True)

1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: birthord, dtype: int64

We can also use `isnull` to count the number of nans.

In [17]:
preg.birthord.isnull().sum()

4445

Select the `prglngth` column, print the value counts, and compare to results published in the [codebook](http://www.icpsr.umich.edu/nsfg6/Controller?displayPage=labelDetails&fileCode=PREG&section=A&subSec=8016&srtLabel=611931)

In [5]:
preg.prglngth.value_counts(sort=True)

39    4744
40    1120
38     609
9      594
41     591
6      543
37     457
13     446
4      412
8      409
35     357
36     329
42     328
17     253
11     202
30     198
5      181
7      175
12     170
3      151
43     148
22     147
10     137
32     122
26     117
2       78
34      60
33      50
44      46
16      44
15      39
28      38
21      37
19      34
24      31
31      29
14      29
29      23
20      18
18      17
0       15
25      15
23      12
45      10
1        9
27       8
48       7
50       2
46       1
47       1
Name: prglngth, dtype: int64

To compute the mean of a column, you can invoke the `mean` method on a Series.  For example, here is the mean birthweight in pounds:

In [6]:
preg.totalwgt_lb.mean()

7.265628457623368

Create a new column named <tt>totalwgt_kg</tt> that contains birth weight in kilograms.  Compute its mean.  Remember that when you create a new column, you have to use dictionary syntax, not dot notation.

In [7]:
preg['totalwgt_kg'] = preg.totalwgt_lb/2.2
preg.totalwgt_kg.mean()

3.302558389828807

`nsfg.py` also provides `ReadFemResp`, which reads the female respondents file and returns a `DataFrame`:

In [8]:
resp = nsfg.ReadFemResp()

`DataFrame` provides a method `head` that displays the first five rows:

In [9]:
resp.head()

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

Select the `age_r` column from `resp` and print the value counts.  How old are the youngest and oldest respondents?

In [13]:
resp.age_r.value_counts(sort = True)

30    292
22    287
23    282
31    278
32    273
37    271
24    269
21    267
25    267
36    266
35    262
29    262
26    260
20    258
33    257
38    256
40    256
34    255
27    255
43    253
28    252
41    250
19    241
44    235
18    235
17    234
16    223
15    217
39    215
42    215
Name: age_r, dtype: int64

We can use the `caseid` to match up rows from `resp` and `preg`.  For example, we can select the row from `resp` for `caseid` 2298 like this:

In [21]:
resp[resp.caseid==2298]

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667

And we can get the corresponding rows from `preg` like this:

In [22]:
preg[preg.caseid==2298]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb,totalwgt_kg
2610,2298,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.125000
2611,2298,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,5.5000,2.500000
2612,2298,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,4.1875,1.903409
2613,2298,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.125000

How old is the respondent with `caseid` 1?

In [20]:
case1 = resp[resp.caseid==1]
case1.age_r

1069    44
Name: age_r, dtype: int64

What are the pregnancy lengths for the respondent with `caseid` 2298?

In [26]:
case2298 = preg[preg.caseid==2298]
case2298.mosgest

2610    9.0
2611    8.0
2612    7.0
2613    9.0
Name: mosgest, dtype: float64

What was the birthweight of the first baby born to the respondent with `caseid` 5012?

In [27]:
case5012 = preg[preg.caseid==5012]
case5012.totalwgt_kg

5515    2.727273
Name: totalwgt_kg, dtype: float64

In [7]:
preg[7200:7250]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
7200,6520,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1167.737271,1270.637765,1550.178073,1,45,NaN,9.0000
7201,6522,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3410.552837,4028.761929,4369.192312,1,69,NaN,4.0000
7202,6522,2,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3410.552837,4028.761929,4369.192312,1,69,NaN,6.3125
7203,6522,3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,3410.552837,4028.761929,4369.192312,1,69,NaN,NaN
7204,6524,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1914.254404,2042.587983,2215.186667,2,56,NaN,7.1250
7205,6524,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1914.254404,2042.587983,2215.186667,2,56,NaN,7.0625
7206,6524,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1914.254404,2042.587983,2215.186667,2,56,NaN,7.3125
7207,6524,4,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,1914.254404,2042.587983,2215.186667,2,56,NaN,NaN
7208,6524,5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.254404,2042.587983,2215.186667,2,56,NaN,NaN
7209,6524,6,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,1914.254404,2042.587983,2215.186667,2,56,NaN,NaN
7210,6524,7,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1914.254404,2042.587983,2215.186667,2,56,NaN,7.1250
7211,6527,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.291423,3008.712772,3800.004231,1,58,NaN,7.0625
7212,6527,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.291423,3008.712772,3800.004231,1,58,NaN,5.1250
7213,6541,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,1914.920362,3640.393579,5571.622373,1,69,NaN,NaN
7214,6542,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,8173.629659,10404.454125,18987.088333,1,2,NaN,3.3750
7215,6542,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,8173.629659,10404.454125,18987.088333,1,2,NaN,7.4375
7216,6542,3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,8173.629659,10404.454125,18987.088333,1,2,NaN,NaN
7217,6544,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,5804.226211,6830.445161,9608.387208,2,1,NaN,6.7500
7218,6544,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,5804.226211,6830.445161,9608.387208,2,1,NaN,6.1250
7219,6545,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1905.144182,2100.714369,2562.871531,1,31,NaN,5.5625
7220,6545,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1905.144182,2100.714369,2562.871531,1,31,NaN,7.4375
7221,6545,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1905.144182,2100.714369,2562.871531,1,31,NaN,6.3750
7222,6545,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1905.144182,2100.714369,2562.871531,1,31,NaN,6.3750
7223,6545,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1905.144182,2100.714369,2562.871531,1,31,NaN,7.5000
7224,6545,6,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1905.144182,2100.714369,2562.871531,1,31,NaN,5.5000
7225,6545,7,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1905.144182,2100.714369,2562.871531,1,31,NaN,5.3750
7226,6547,1,NaN,NaN,NaN,NaN,6.0,NaN,3.0,5.0,...,0,0,0,5114.357006,5564.426964,7234.311496,2,39,NaN,6.0625
7227,6547,2,NaN,NaN,NaN,NaN,6.0,NaN,2.0,5.0,...,0,0,0,5114.357006,5564.426964,7234.311496,2,39,NaN,6.0625
7228,6547,3,NaN,NaN,NaN,NaN,6.0,NaN,3.0,5.0,...,0,0,0,5114.357006,5564.426964,7234.311496,2,39,NaN,6.1250
7229,6548,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4871.747058,7480.208425,12978.161618,2,33,NaN,6.3750
7230,6549,1,13.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,3774.858019,5892.035215,8288.325937,2,59,NaN,NaN
7231,6551,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,2418.280248,2639.114976,2854.730669,2,83,NaN,NaN
7232,6551,2,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2418.280248,2639.114976,2854.730669,2,83,NaN,6.2500
7233,6551,3,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2418.280248,2639.114976,2854.730669,2,83,NaN,6.6875
7234,6551,4,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2418.280248,2639.114976,2854.730669,2,83,NaN,2.2500
7235,6551,5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,2418.280248,2639.114976,2854.730669,2,83,NaN,NaN
7236,6552,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2735.150888,2966.915506,4000.292177,2,78,NaN,6.0000
7237,6552,2,8.0,2.0,8.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,2735.150888,2966.915506,4000.292177,2,78,NaN,NaN
7238,6553,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2817.999595,3235.371714,4206.306766,1,48,NaN,7.4375
7239,6553,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,2817.999595,3235.371714,4206.306766,1,48,NaN,NaN
7240,6553,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,2817.999595,3235.371714,4206.306766,1,48,NaN,NaN
7241,6553,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2817.999595,3235.371714,4206.306766,1,48,NaN,9.0000
7242,6553,5,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,2817.999595,3235.371714,4206.306766,1,48,NaN,NaN
7243,6557,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4871.376096,6121.356253,10295.509081,2,73,NaN,6.1250
7244,6557,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4871.376096,6121.356253,10295.509081,2,73,NaN,7.6875
7245,6557,3,NaN,NaN,NaN,NaN,6.0,NaN,2.0,1.0,...,0,0,0,4871.376096,6121.356253,10295.509081,2,73,NaN,6.7500
7246,6557,4,NaN,NaN,NaN,NaN,1.0,3.0,NaN,NaN,...,0,0,0,4871.376096,6121.356253,10295.509081,2,73,NaN,NaN
7247,6558,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4129.241246,4889.350318,6877.849093,2,61,NaN,7.8750
7248,6560,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,5171.042070,5991.603613,10934.077434,2,43,NaN,NaN
7249,6560,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,5171.042070,5991.603613,10934.077434,2,43,NaN,7.5000

In [4]:
preg

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875
5,6,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,8.5625
6,6,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,9.5625
7,6,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,8.3750
8,7,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3409.579565,3787.539000,6911.879921,2,14,NaN,7.5625
9,7,2,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3409.579565,3787.539000,6911.879921,2,14,NaN,6.6250
10,12,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3612.781968,4146.013572,6909.331618,1,31,NaN,7.8125
11,14,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.069494,2810.302771,3039.904507,2,56,NaN,7.0000
12,14,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.069494,2810.302771,3039.904507,2,56,NaN,4.0000
13,14,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,2418.069494,2810.302771,3039.904507,2,56,NaN,NaN
14,15,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1667.816099,3200.862017,5553.495599,1,33,NaN,NaN
15,15,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1667.816099,3200.862017,5553.495599,1,33,NaN,7.6875
16,15,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1667.816099,3200.862017,5553.495599,1,33,NaN,7.5000
17,18,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2957.257457,3404.403067,4153.371741,2,14,NaN,6.3125
18,18,2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,2957.257457,3404.403067,4153.371741,2,14,NaN,NaN
19,21,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3408.342437,3965.763949,7237.122630,1,48,NaN,8.7500
20,21,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3408.342437,3965.763949,7237.122630,1,48,NaN,8.1875
21,23,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,6210.373020,8120.841310,13533.382043,2,64,NaN,5.5625
22,23,2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,6210.373020,8120.841310,13533.382043,2,64,NaN,NaN
23,24,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3409.573258,4068.628645,7424.840414,1,27,NaN,6.7500
24,24,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3409.573258,4068.628645,7424.840414,1,27,NaN,7.3750
25,24,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3409.573258,4068.628645,7424.840414,1,27,NaN,6.8125
26,28,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3407.794208,3808.343516,6949.846082,2,57,NaN,8.1250
27,31,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3405.679025,4272.084519,5211.943113,1,2,NaN,7.1250
28,31,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3405.679025,4272.084519,5211.943113,1,2,NaN,6.0625
29,31,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3405.679025,4272.084519,5211.943113,1,2,NaN,7.4375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13563,12547,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3453.545517,6628.022524,11499.619080,1,52,NaN,7.6875
13564,12547,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3453.545517,6628.022524,11499.619080,1,52,NaN,7.6250
13565,12550,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3080.452699,3745.326058,5268.550165,1,79,NaN,8.1250
13566,12551,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2418.538866,3653.453268,3951.940400,2,75,NaN,7.5000
13567,12554,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,1914.676604,2177.957240,2764.045534,2,75,NaN,NaN
13568,12554,2,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,0,0,0,1914.676604,2177.957240,2764.045534,2,75,NaN,NaN
13569,12556,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2474.619764,3250.573384,3965.699528,1,44,NaN,5.8125
13570,12556,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2474.619764,3250.573384,3965.699528,1,44,NaN,6.6875
13571,12556,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2474.619764,3250.573384,3965.699528,1,44,NaN,6.0000
13572,12556,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2474.619764,3250.573384,3965.699528,1,44,NaN,5.8125
13573,12561,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.089703,2698.650781,4497.301527,1,10,NaN,6.5625
13574,12561,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2418.089703,2698.650781,4497.301527,1,10,NaN,6.1250
13575,12564,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,1820.850938,2129.214067,2768.191208,2,44,NaN,NaN
13576,12565,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3195.641221,3834.241709,6652.409365,1,78,NaN,6.4375
13577,12565,2,35.0,1.0,8.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,3195.641221,3834.241709,6652.409365,1,78,NaN,NaN
13578,12566,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2080.317155,2422.820274,2627.548587,2,2,NaN,6.0000
13579,12566,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2080.317155,2422.820274,2627.548587,2,2,NaN,7.0000
13580,12568,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,2734.687353,4258.980140,7772.212858,2,28,NaN,NaN
13581,12568,2,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,2734.687353,4258.980140,7772.212858,2,28,NaN,6.3750
13582,12568,3,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,0,0,0,2734.687353,4258.980140,7772.212858,2,28,NaN,NaN
13583,12569,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,2580.967613,2925.167116,5075.164946,2,61,NaN,NaN
13584,12569,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,2580.967613,2925.167116,5075.164946,2,61,NaN,6.3750
13585,12570,1,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,5181.311509,6205.829154,11325.017623,2,40,NaN,NaN
13586,12570,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,5181.311509,6205.829154,11325.017623,2,40,NaN,NaN
13587,12570,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,5181.311509,6205.829154,11325.017623,2,40,NaN,NaN
13588,12571,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,6.1875
13589,12571,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13590,12571,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13591,12571,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000
13592,12571,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000